<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="timetableBSU">
    <head>
        <!--<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">-->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!--<meta name="mobile-web-app-capable" content="yes"/>-->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <title>Timetable BSU</title>
        <link rel="stylesheet" href="../Frontend/styles/application.css">
        <script src="../Frontend/js/index.js" type="text/javascript"></script>

        <script src="../Frontend/js/Libs/AngularJS/angular.js" type="text/javascript"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
        <script src="../Frontend/js/Libs/AngularUI/modules/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="../Frontend/js/Libs/AngularJS/angular-route.min.js" type="text/javascript"></script>
        <script src="../Frontend/js/Libs/AngularUI/modules/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <script src="../Frontend/js/app.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/services/MainService.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/services/LoginService.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/directives/LoginDirective.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/controllers/LoginController.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/controllers/ContentController.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/controllers/FirstCourseController.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/controllers/SecondCourseController.js" type="text/javascript"></script>
        <script src="../Frontend/js/modules/controllers/TimeTableController.js" type="text/javascript"></script>

    </head>
<body ng-controller="TimeTableCtrl" ng-show="ready===true" style="min-width: 500px">
    <div class="actions pull-right" style="width: 570px">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="doClick(1)">{{translation.firstName}}</button>
                <button class="btn btn-primary" ng-click="doClick(2)">{{translation.secondName}}</button>
                <button class="btn btn-primary" ng-click="doRegistration()" ng-show="registration === true">{{translation.registration}}</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="changeLocale('en-us')" ng-model="radioModel" btn-radio="'en-us'">en</button>
                <button class="btn btn-primary" ng-click="changeLocale('ru-ru')" ng-model="radioModel" btn-radio="'ru-ru'">ru</button>
            </div>
        </div>
    </div>
    <div ui-view></div>
</body>
</html>