/*$primary-color: rgb(0,204,255);
$btn-primary-bg: rgb(0,153,255);*/

$primary-color: rgb(0,255,204);
$btn-primary-bg: rgb(0,204,153);

$background-color:white;
$btn-primary-color:white;
$modal-title-padding:2px;
$modal-footer-padding: 7px 20px 7px;
$input-has-error: red;
$alert-padding: 5px;
$icon-font-path: '../../styles/bootstrap-sass/fonts/';
@import "bootstrap-sass/lib/bootstrap";

body{
  background: $primary-color;
}

.login-form{
  background-color: $primary-color;
  padding-top: 100px;
  .inner-container{
    width: 460px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $background-color;
    margin: 0 auto;
    border-radius: $border-radius-large;
    .inner-login-form{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      .merged .input-group-addon {
        border-right: 0px;
        background-color: #FFFFFF;
      }
      .merged input {
        border-left: 0px;
        background-color: #FFFFFF;
      }
    }
    .btn-primary{
      margin-top: 20px;
      width: 100%;
    }
  }
}

.modal-header{
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
}

.overflow{
  overflow-y: auto;
}

.registration{
  @extend .overflow;
  .modal-dialog{
    width: 700px;
  }
  .modal-body{
    padding-bottom: 0;
    .form-group{
      margin-bottom: 0;
      height: 65px;
      .control-label{
        margin-right: 20px;
        text-align: left;
        width: 16%;
      }
      .col-sm-9{
        width: 75%;
      }
      .error{
        clear: both;
        position: relative;
        top:-25px;
        left:145px;
        width: 61%;
      }

      .help-block{
        margin-bottom: 0;
      }
    }
  }
  .modal-footer{
    padding: $modal-footer-padding;
  }



}

.forgot-password{
  @extend .overflow;
  .modal-dialog{
    width: 500px;
  }
  .modal-footer{
    padding: $modal-footer-padding;
  }
}
//
//.selection{
//  margin-left: 47px;
//  .form-group label{
//    position: absolute;
//    padding-top: 5px;
//  }
//  .form-control{
//    width: 150px;
//    margin-left: 90px;
//  }
//}