<div class="modal-header">
    {{translation.forgotPassword}}
</div>
<div class="modal-body">
    <label>Enter your email address:</label>
    <input class="form-control" ng-model="email" type="email"/>
    <div class="alert alert-danger" style="margin-top: 10px; margin-bottom: 0px;" ng-hide="error == ''">{{error}}</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="email == ''">{{translation.remindPassword}}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{translation.cancel}}</button>
</div>